body {background-color: black;}


h1 {
color: white;
font-size: 200%;
}

h2 {
color: white;
font-size: 200%;
}

p {
color: white;
}

h3 {
color: skyblue;
font-size: 200%;
}

nav a {
  color: white;
  text-transform: uppercase;
  font-size: 110%;
  text-decoration: none;
}

.content {
  color: white;
}

div h1, h2, h3, p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  word-spacing: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0.25em;
  color: white;
}
