body {
      background-image: url("../img/background.jpg");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
h1 {
color: white;
font-size: 200%;
}

h2 {
color: white;
font-size: 200%;
}

p {
color: lightgray;
font-size: 100%;
}

h3 {
color: white;
font-size: 200%;
}

nav a {
  color: white;
  text-transform: uppercase;
  font-size: 110%;
  text-decoration: none;
}
