h1 {
  font-family: arial black;
  padding-left: 75px;
  font-size: 40px;
  line-height: 100px
}
p {
  font-family: optima;
  font-size: 20px;
  padding-left: 100px;

}
h2 {
  font-family: arial black;
  font-size: 30px;
  padding-left: 75px;
}

h3 {
    font-family: arial;
    color: #ba2026;
    font-size: 20px;
    padding-left: 0px;
}
.button
{
    font-size: 13px;
    color:red;
}
script {
  font-family: arial black;
  font-size: 10px;
  padding-left: 100px;
  color: #000000;
}

.challenges, .results, .problems, .you {
    border: solid 6px white;
    padding: 20px;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}
.linkbox {
    padding: 10px;
    font-size: 120%;
}
.javascript link {
    text-align: left;
}

#output {
    position: absolute;
    right: 1050px;
    padding: 35px;
    border-radius: 150px;
    border: solid 4px white;
    background-color: lightgray;
    color: #8C001A;
    width: 400px;
    font-size: 115%;

}

.input-output {
    border: solid 1px #333333;
    padding: 10px 10px 30px;
}



event.delegateTarget {
    color: #07ae06;
}
